{% extends "base.html" %}

{% block content %}

{% load static %}

<h1>À propos</h1>

<div class="section scrollspy" id="history" name="Historique">

	<h2>Historique</h2>

	<div class="parallax-container">
		<div class="parallax"><img src="{% static "img/hourglass-620397_640.jpg" %}"></div>
	</div>

	<p>
		Issus du milieu de la recherche, le partage de connaissance est quelque chose qui nous a toujours intéressé, car nous le voyons essentiel pour éloigner l'être humain du danger de l'ignorance.
	</p>

	<p>
		La méthode de ces cafés est de permettre à l'auditoir de s'approprier la connaissance en participant au sujet par le biais de groupes de travail d'une dizaine de personnes.
	</p>
	<p>
		Cette méthode permet donc d'être plus proche des exigences de l'auditoir, ce qui garantit un meilleur partage de la connaissance pour des personnes non expertes du sujet.
	</p>
	<p>
		Constatant que cette méthode répond de manière plus pertinente dans des cas où l'expertise de l'auditoir est faible, nous avons convenu qu'à l'instar des conférences <a href="https://www.ted.com/">TedX</a>, il serait certainement intéressant de coupler les cafés du savoir à une plateforme numérique.
	</p>
	<p>
		Le résultat est une plateforme qui permettrait à la fois aux utilisateurs de choisir les sujets, et d'accéder facilement aux conférences participatives effectuées.
	</p>

</div>

<div class="section scrollspy" id="problems" name="Problèmes">

	<h2>Problèmes</h2>

	<div class="parallax-container">
		<div class="parallax"><img src="{% static 'img/laundry-413688_640.jpg' %}"></div>
	</div>

	<p>
		Aujourd'hui, nous voyons que ce partage est de moins en moins accessible à certaines classes de population.
	</p>
	<p>
		Et nous pensons que c'est une grave erreur de la limiter aux intellectuels et à certains classes favorisées, pourtant moins nombreuses que les personnes qui y ont difficilement accès, et qui ont par leur nombre, le plus d'influence dans des les sociétés démocratiques lors des élections.
	</p>
	<p>
		Pour résoudre ce problème, nous nous sommes intéressés aux moyens de transmettre et accéder à la connaissance.
	</p>

	<p>
		Parmi les moyens connus, il y a bien-entendu les livres, le web, l'école, les conférences, les débats et surtout <a href="http://www.theworldcafe.com/">les café du savoir</a> !
	</p>

	<table class="striped">
		<caption>Solutions de partage de connaissance</caption>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Desription</th>
				<th>Avantages</th>
				<th>Inconvénients</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					École
				</td>
				<td>
					Sur la base d'un programme imposé par l'état, le professeur est libre de la méthode d'enseignement. Et pourra même enseigner d'autres choses que le programme de base.
				</td>
				<td>Tout dépend du professeur, des élèves et de l'école</td>
				<td>Tout dépend du professeur, des élèves et de l'école</td>
			</tr>
			<tr>
				<td>
					Conférence
				</td>
				<td>
					Permet à un auditoir, d'écouter un spécialiste venu présenter son sujet. Se termine souvent par un temps de questions posées à l'spécialiste.
				</td>
				<td>Sans limite de nombre et permet d'approfondir un sujet.</td>
				<td>L'auditoir doit être passif et correspondre parfaitement à la manière de la transmission du savoir de l'orateur.</td>
			</tr>
			<tr>
				<td>
					Débat
				</td>
				<td>
					Formule de questions/réponses où il est très difficile de faire participer plus de 10 personnes à la fois. Les autres personnes présentes pourront toujours se comporter de manière passive pour le bon déroulement du débat.
				</td>
				<td>Permet de confronter des opinions différentes</td>
				<td>
					<ul>
						<li>Nécessite un animateur</li>
						<li>Nombre d'opinions et de débateurs limité à 10</li>
						<li>L'auditoir doit être passif</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.theworldcafe.com/">Café du savoir</a>
				</td>
				<td>
					Formule qui mélange conférence et débat pour permettre à la fois
					<ul>
						<li>à un spécialiste de partager son savoir,</li>
						<li>à l'auditoir de travailler sur ce savoir</li>
						<li>à l'auditoir de faire un retour de ce qu'il a compri ou non auprès du spécialiste.</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>
							Permet de faire appel à l'intelligence collective pour comprendre et faire avancer le sujet.
						</li>
						<li>
							Permet à l'orateur d'avoir des retours réfléchis de l'ensemble de l'auditoir
						</li>
						<li>
							L'engouement des discussions crée du lien social au sein de l'auditoir et de la contribution pour le sujet
						</li>
					</ul>
				</td>
				<td>
					A peu de chance de convenir à des personnes qui connaissent bien le sujet et qui souhaiteraient approfondir leurs connaissances.
				</td>
			</tr>
		</tbody>
	</table>

	<p>
		Ainsi, la méthode qui nous semble être la plus populaire reste les cafés du savoir.
	</p>

	<h5>
		Et nous nous sommes penchés sur la question de son extension à l'aide de la technologie de l'information et des nombreux exemples applicatifs qui permettent à un grand nombre de personnes, au dela des contraintes physiques et temporelles, de se mettre d'accord sur une direction.
	</h5>

</div>

<div class="section scrollspy" id="solution" name="Solution">

	<h2>
		Solution
	</h2>

	<div class="parallax-container">
		<div class="parallax">
			<img src="{% static 'img/connect-20333_640.jpg' %}">
		</div>
	</div>

		<a id="vote-{{ vote.id }}-like" class="vote-{{ vote.id }} btn-floating waves-effect waves-light {% if vote.score == 1 %}green{% else %}red{% endif %}" onclick="changeVote({{ elt.type }}, {{ elt.id }}, {{ vote.id }}, 1)">
		<img class="responsive-img" src="{% static 'img/angry.svg' %}" />
			<!--i class="material-icons">add</i-->
		</a>

		<a id="vote-{{ vote.id }}-like" class="vote-{{ vote.id }} btn-floating waves-effect waves-light {% if vote.score == 1 %}green{% else %}green{% endif %}" onclick="changeVote({{ elt.type }}, {{ elt.id }}, {{ vote.id }}, 1)">
		<img class="responsive-img" src="{% static 'img/happiness.svg' %}" />
			<!--i class="material-icons">add</i-->
		</a>


	<table class="striped">
		<caption>Fonctionnalités de la plateforme</caption>
		<thead>
			<tr>
				<th>Fonctionnalités</th><th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Utilisateur</td>
				<td>Personne ou groupe de personnes qui répond aux conditions d'échange, d'utilisation et de stockage d'un bien</td>
			</tr>
			<tr>
				<td>Fournisseur</td>
				<td>Utilisateur qui peut définir les conditions d'échange, d'utilisation et de stockage d'un bien, et choisir les utilisateurs d'un bien dans le cas d'un emprunt/stockage, ou les possesseurs d'un bien dans le cas d'un échange</td>
			</tr>
			<tr>
				<td>Possesseur</td>
				<td>Fournisseur qui enregistre et modifie ses biens et ses stocks sur la plateforme et choisit les autres possesseurs et fournisseurs d'un bien/stock</td>
			</tr>
			<tr>
				<td>Planning</td>
				<td>Permet de voir les disponibilités d'emprunt, d'échange et de stockage d'un bien. Et également de déterminer la durée d'utilisation de celui-ci</td>
			</tr>
			<tr>
				<td><a href="https://fr.wikipedia.org/wiki/G%C3%A9olocalisation" target="_blank">Géolocalisation</a></td>
				<td>Permet de voir à tout moment où se trouve un bien ou un stock</td>
			</tr>
			<tr>
				<td><a href="https://qrcode.fr/" targer="_blank">QRCode</a></td>
				<td>Permet d'identifier rapidement un bien ou un stock, afin de faciliter les échanges ou les emprunts</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>Lieu de stockage des biens, mis à disposition par les fournisseurs</td>
			</tr>
		</tbody>
	</table>

</div>

<div class="section scrollspy" id="who" name="Qui sommes-nous ?">

	<h2>
		Qui sommes-nous ?
	</h2>

	<div class="parallax-container">
		<div class="parallax">
			<img src="{% static 'img/white-male-1871375_640.jpg' %}">
		</div>
	</div>

	<div class="row">
		<div class="col s2">
			<img src="{% static 'img/apt-get-install-freedom.jpg' %}" class="circle responsive-img" />
		</div>
		<div class="col s10">
			<div class="row">
				<div class="col s12">
					<h5><a target="_blank" href="https://github.com/b3j0f">b3j0f</a></h5>
				</div>
				<div class="col s12">
					<p>
						Développeur en informatique, passionné par le partage de resources et de connaissances.
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
