{% extends "base.html" %}

{% block content %}

{% load static %}

<h1>À propos</h1>

<div class="section scrollspy" id="history" name="Historique">

	<h2>Historique</h2>

	<div class="parallax-container">
		<div class="parallax"><img src="{% static "img/hourglass-620397_640.jpg" %}"></div>
	</div>

	<p>
		Issus du milieu de la recherche, le partage de connaissance est quelque chose qui nous a toujours intéressé, car nous le voyons essentiel pour éloigner l'être humain du danger de l'ignorance.
	</p>

</div>

<div class="section scrollspy" id="problems" name="Problèmes">

	<h2>Problèmes</h2>

	<div class="parallax-container">
		<div class="parallax"><img src="{% static 'img/laundry-413688_640.jpg' %}"></div>
	</div>

	<p>
		Il existe de nombreux moyens* de partager la connaissance :
	</p>

	<ul>
		<li>
			- moyens directs : cours, conférences, débats, et <a href="http://www.theworldcafe.com/">cafés du savoir</a>.
		</li>
		<li>
			- moyens indirects : écrits (livres, articles scientifiques, blagues carambar, etc.) et outils du web (blogs, wikipedia, forums, etc.).
		</li>
	</ul>

	<small>
		* Tous ces moyens peuvent être accompagnés d'une "projection du savoir" qui consiste à poser les mêmes questions sur le sujet avant et après sa prise de connaissance, et à noter les réponses, afin de montrer l'évolution de la pensée au cours après compréhension.
	</small>

	<table class="striped hoverable">
		<caption>Solutions de partage de connaissance</caption>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Desription</th>
				<th>Avantages</th>
				<th>Inconvénients</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Écrits
				</td>
				<td>
					Moyen le plus courant
				</td>
				<td>
					Le contenu peut être lu en fonction de ses envies
				</td>
				<td>
					Le prix des articles et la forme du contenu des ouvrages/articles scientifiques peut devenir innaccessible auprès des non initiés
				</td>
			</tr>
			<tr>
				<td>
					École
				</td>
				<td>
					Sur la base d'un programme imposé par l'état et par l'école, le professeur est libre de la méthode d'enseignement. Et pourra même enseigner d'autres choses que le programme de base
				</td>
				<td>
					Le programme de base suit la logique des besoins de la société
				</td>
				<td>
					Plus l'école veut être indépendante du programme de base, et plus elle devra gérer son financement, et donc réservée à une certaine classe sociale
				</td>
			</tr>
			<tr>
				<td>
					Conférence
				</td>
				<td>
					l'auditoir écoute un spécialiste venu présenter son sujet. Se termine souvent par un temps de questions posées au spécialiste
				</td>
				<td>
					Sans limite de nombre et permet d'approfondir un sujet
				</td>
				<td>
					L'auditoir doit être passif et correspondre parfaitement à la manière de la transmission du savoir de l'orateur
				</td>
			</tr>
			<tr>
				<td>
					Débat
				</td>
				<td>
					Formule de questions/réponses où il est très difficile de faire participer plus de 10 personnes à la fois. Les autres personnes présentes pourront toujours se comporter de manière passive pour le bon déroulement du débat
				</td>
				<td>
					Permet de confronter des opinions différentes
				</td>
				<td>
					<ul>
						<li>
							- Nécessite un animateur
						</li>
						<li>
							- Nombre d'opinions et de débateurs limité à 10
						</li>
						<li>
							- L'auditoir doit être passif
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.theworldcafe.com/">Café du savoir</a>
				</td>
				<td>
					Formule qui mélange conférence et débat pour permettre à la fois
					<ul>
						<li>
							- à un spécialiste de partager son savoir,
						</li>
						<li>
							- à l'auditoir de travailler sur ce savoir
						</li>
						<li>
							- à l'auditoir de faire un retour de ce qu'il a compri ou non auprès du spécialiste
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>
							- intelligence collective pour comprendre et faire avancer le sujet
						</li>
						<li>
							- l'orateur a des retours réfléchis de l'ensemble de l'auditoir
						</li>
						<li>
							- L'engouement des discussions crée du lien social au sein de l'auditoir et de la contribution pour le sujet
						</li>
					</ul>
				</td>
				<td>
					A peu de chance de convenir à des personnes qui connaissent bien le sujet et qui souhaiteraient approfondir leurs connaissances
				</td>
			</tr>
			<tr>
				<td>
					Outil du Web
				</td>
				<td>
					Le plus populaire. Il permet de rendre public les précédents moyens de partager la connaissance sous forme de vidéos, images, jeux interactif, textes et sons
				</td>
				<td>
					De nombreux outils permettent à tous de s'exprimer
				</td>
				<td>
					Seul le texte est indexé par les moteurs de recherche
				</td>
			</tr>
		</tbody>
	</table>

</div>

<div class="section scrollspy" id="solution" name="Solution">

	<h2>
		Solution
	</h2>

	<div class="parallax-container">
		<div class="parallax">
			<img src="{% static 'img/connect-20333_640.jpg' %}">
		</div>
	</div>

	<p>
		Vous l'aurez compris, chaque méthode a des avantages et des inconvénients en ce qui concerne son accessibilité et son efficacité.
	</p>

	<p>
		Pour ces deux raisons, nous souhaitons proposer un outil web qui mutualise la connaissance en :
		<ul>
			<li>
				- facilitant l'accès à la connaissance en améliorant l'indexation de contenu.
			</li>
			<li>
				- justifiant l'intérêt des connaissances et des formats en permettant à tous de proposer, voter et être notifiés par des sujets, puis d'organiser des évènements qui traiteront des sujets qui pourront être classés par intérêts de la population.
			</li>
		</ul>
	</p>

</div>

<div class="section scrollspy" id="who" name="Qui sommes-nous ?">

	<h2>
		Qui sommes-nous ?
	</h2>

	<div class="parallax-container">
		<div class="parallax">
			<img src="{% static 'img/white-male-1871375_640.jpg' %}">
		</div>
	</div>

	<div class="row">
		<div class="col s2">
			<img src="{% static 'img/apt-get-install-freedom.jpg' %}" class="circle responsive-img" />
		</div>
		<div class="col s10">
			<div class="row">
				<div class="col s12">
					<h5><a target="_blank" href="https://github.com/b3j0f">b3j0f</a></h5>
				</div>
				<div class="col s12">
					<p>
						Développeur en informatique, passionné par le partage de resources et de connaissances.
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
