{% load static %}

<div class="col l3 m4 s6">
	<div id="{{ common.id }}" class="card sticky-action{% if size %} {{ size }}{% endif %}">
		<div class="card-image" id="{{ common.id }}-image">
			{% if common.medias.all or not common %}
			<div class="carousel carousel-slider" data-indicators="true" data-fullWidth="true">
				{% for media in common.medias.all %}
				<img src="{{ forloop.first.url }}" class="responsive-img" />
				<a class="carousel-item" data-caption="{{ common.name }}" href="#one!">
					<img src="{{ media.url }}" class="responsive-img" />
				</a>
				{% endfor %}
			</div>
			{% else %}
			<img src="{% static 'img/' %}{{ common.category.name }}.jpg" />
			{% endif %}
			<span class="card-title truncate black-text name" id="{{ common.id }}-title">{{ common.name }}</span>
		</div>
		<div class="card-content activator" id="{{ common.id }}-content">
			<span class="card-title activator grey-text text-darken-4">
				<div class="shortdescription truncate">{{ common.shortdescription }}</div>
				<i class="material-icons right">more_vert</i>
			</span>
			{% include 'supply.html' with common=common %}
		</div>
		<div class="card-action" id="{{ common.id }}-action">
			{% if common.available %}
			<ul class="collapsible" data-collapsible="accordion">
				{% if common.gives.all %}
				<li id="{{ common.id }}-give">
					<div class="collapsible-header"><img class="responsive-img teal" src="{% static 'img/home-delivery-service.svg' %}" />Don/Troc/Vente</div>
					<div class="collapsible-body">
						<ul class="collection">
							{% for give in common.gives.all %}
							{% include 'supply.html' with supply=give.supply.all %}
							{% endfor %}
						</ul>
					</div>
				</li>
				{% endif %}
				{% if common.shares.all %}
				<li id="{{ common.id }}-share">
					<div class="collapsible-header"><img class="responsive-img teal" src="{% static 'img/race-chronometer.svg' %}" />Prêt/Location</div>
					<div class="collapsible-body">
						{% for share in common.shares.all %}
						<ul class="collapsible" data-collapsible="accordion">
							<li id="{{ common.id }}-share-{{ share.id }}">
								{% include 'supply.html' with supply=share.days %}
								{% include 'supply.html' with supply=share.weeks %}
								{% include 'supply.html' with supply=share.weekends %}
								{% include 'supply.html' with supply=share.months %}
								{% include 'supply.html' with supply=share.years %}
							</li>
						</ul>
						{% endfor %}
					</div>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
	</div>
	<div class="card-reveal" id="{{ common.id }}-reveal">
		<span class="card-title grey-text text-darken-4">
			<div class="name">
				{{ common.name }}
			</div>
			<i class="material-icons right">close</i>
		</span>
		<span class="shortdescription">
			{{ common.shortdescription }}
		</span>
		<div class="divider"></div>
		<p class="description">
			{{ common.description }}
		</p>
		<div id="qrcode-{{ common.id }}"></div>
		<script type="text/javascript">
			new QRCode(
				document.getElementById('qrcode-{{ common.id }}'),
				'/common?id={{ common.id }}'
				);
			</script>
		</div>
	</div>
</div>