{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>
	{% if elt %}Modification{% else %}Ajout{% endif %} de <a class="dropdown-button btn-flat" data-constrainWidth="false" data-activates="types" data-hover="true" id="type"></a>

	<ul id='types' class='dropdown-content'>
	</ul>
</h2>

<div id="edit">
	<form method="post" enctype="multipart/form-data" action="{{ url }}" id="formedit">
		{% csrf_token %}
		{% if elt %}
		<input type="hidden" name="id" value={{ elt.id }} />
		{% endif %}
		<input type="hidden" name="type" value="{{ elt.type }}" />
		<input type="hidden" name="contacts" value="{{ elt.contacts }}" />
		<input type="hidden" name="lon" value={{ elt.lon }} />
		<input type="hidden" name="lat" value={{ elt.lat }} />

		<div class="row">
			<div class="col l12">
				<div class="row card-panel">

					<div class="col s8 l9 input-field">
						<i class="material-icons prefix">title</i>
						<input type="text" name="name" id="name" onchange="updateProperty('name')" value="{{ elt.id }}" class="maxlength" data-length="50" />
						<label for="name">Nom</label>
					</div>

					<div class="col s4 l3 input-field">
						<input type="checkbox" id="public" name="public" {% if elt.public %}checked="true" {% endif %}/>
						<label for="public">Public</label>
					</div>

					<div class="col s12 input-field">
						<i class="material-icons left">description</i>
						<textarea id="description" name="description" class="materialize-textarea maxlength" onchange="updateProperty('description')" data-length="255">{{ elt.description }}</textarea>
						<label for="description">Description</label>
					</div>

					<div class="col s12 input-field">
						<div class="chips" id="admins"></div>
						<label for="admins">Administrateurs</label>
					</div>

					<div class="col s12" id="medias">
						<h5>
							<i class="material-icons left">add_a_photo</i>
							Photos
						</h5>
						<div class="row">
						</div>
					</div>

					<div class="col s12 space input-field section">
						<h5>
							<i class="material-icons left">location_on</i>
							Adresse
						</h5>
						<div class="row">
							<div class="col s1">
								<a class="btn-floating left tooltipped" data-tooltip="Géolocalisation" onclick="geoloc();">
									<i class="material-icons left">my_location</i>
								</a>
							</div>
							<div class="col s11">
								<input id="address" type="text" placeholder="55 rue du chat, Miaou-ville" name="address" onchange="newaddress();" />
							</div>
						</div>
						<div id="map" class="map"></div>
					</div>

					<div class="divider"></div>

					<div class="col s6 input-field section">
						<input type="date" class="datepicker" id="created" name="created" value="{{ elt.created }}" disabled/>
						<label for="created">Début</label>
					</div>
					<div class="col s6 input-field section">
						<input type="date" class="datepicker" id="modified" name="modified" value="{{ elt.modified }}" disabled />
						<label for="modified">Dernière modification</label>
					</div>
					<div class="col s12 input-field section space">
						<ul class="collapsible" data-collapsible="expandable">
							<li id="shares">
								<div class="collapsible-header">
									<i class="material-icons">date_range</i>
									Planning
								</div>
								<div class="collapsible-body">
									<div class="calendar" id="calendar"></div>
								</div>
							</li>
						</ul>
					</div>

					<div class="col s12 center">
						<a class="btn-large btn-block waves-effect waves-light" href="#demo">
							<div class="add">Ajouter</div>
							<div class="update">Modifier</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="demo">
			<div class="modal-content">
				<div class="row">
					{% include 'elt.html' %}
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Oui" />
				<a class="modal-close waves-red btn-flat">Non</a>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	{% include 'edit.js' %}
</script>

{% endblock %}