{% extends "base.html" %}
{% block content %}

<h2>Foire aux questions</h2>

<ul class="collapsible popout" data-collapsible="accordion">
	<li id="goal">
		<div class="collapsible-header"><i class="material-icons">settings</i>Quel est le but de la plateforme ?</div>
		<div class="collapsible-body">
			<p>
				Faciliter l'accès et l'intérêt de la connaissance partagée.
			</p>
		</div>
	</li>
	<li id="name">
		<div class="collapsible-header"><i class="material-icons">settings</i>Qu'est-ce qu'une conférence participative ou café du savoir ?</div>
		<div class="collapsible-body">
			<p>
				Une conférence participative, ou <a href="http://www.theworldcafe.com/" target="_blank">Café du savoir</a>, est une conférence qui vise à transmettre un sujet à un maximum de gens en 3 étapes.
			</p>
			<ol>
				<li>
					1. Le premier quart-temps est réservé à une conférence donnée par au moins un spécialiste du sujet, qui synthétise le sujet afin d'identifier un ensemble de questions.
				</li>
				<li>
					2. La moitié du temps est consacrée à des travaux de groupe d'au plus 10 personnes qui avanceront sur une question précédemment posée, et trouveront des questions à poser au spécialiste, afin de s'approprier le plus possible le sujet, et auront à charge de faire une synthèse pour la dernière étape.
				</li>
				<li>
					3. Le dernier quart-temps est une synthèse des travaux de groupe et un temps de question/réponse avec le(s) spécialiste(s).
				</li>
			</ol>
		</div>
	</li>
	<li id="status">
		<div class="collapsible-header" data-collapsible="accordion">
			<i class="material-icons">line_style</i>Quel est votre statut ?
		</div>
		<div class="collapsible-body">
			<p>
				KnowledgeSharing est une initiative citoyenne qui n'est pour l'instant rattachée à aucun cadre légal.
			</p>
			<p>
				La plateforme est donc un <a href="https://fr.wikipedia.org/wiki/Biens_communs" target="_blank">bien commun</a>, <a href="https://github.com/b3j0f/knowledgesharing" target="_blank">open-source</a>, non lucratif au dela des besoins financiers nécessaires à sa mise à disposition.
			</p>
		</div>
	</li>
	<li id="money">
		<div class="collapsible-header" data-collapsible="accordion">
			<i class="material-icons">attach_money</i>Comment gagnez-vous de l’argent ?
		</div>
		<div class="collapsible-body">
			<p>
				Par les dons. Nous utilisons un compte <a href="https://liberapay.com/knowledgesharing">liberapay</a> pour que vous puissiez effectuer des dons afin de pouvoir rémunérer la location des serveurs.
			</p>
			<p>
				Actuellement, ce coût s'élève à environ 5€/mois. Et le nom de domaine à 15€/an.
			</p>
		</div>
	</li>
	<li id="platform">
		<div class="collapsible-header" data-collapsible="accordion">
			<i class="material-icons">smartphone</i>Je possède un smartphone, puis-je utiliser l’application ?
		</div>
		<div class="collapsible-body">
			<p>
				Pour l'instant, l'application n'est disponible que via ce site web. Alors il vous suffit de vous rendre à l'adresse <a href="{{ host }}">{{ host }}</a> pour en profiter.
			</p>
			<p>
				L’application sera prochainement disponible sur Android, iPhone et Windows phone. N’hésitez à suivre nos pages Facebook et Twitter afin de rester informé.
			</p>
		</div>
	</li>
	<li id="foreign">
		<div class="collapsible-header" data-collapsible="accordion">
			<i class="material-icons">map</i>Puis je utiliser knowledgesharing à l’étranger ?
		</div>
		<div class="collapsible-body">
			<p>
				L'application n'a pas de frontière, alors profitez-en pour faire connaître ce projet en dehors de la France et proposez vos traductions <a href="#">ici</a> !
			</p>
		</div>
	</li>
	<li id="help">
		<div class="collapsible-header" data-collapsible="accordion">
			<i class="material-icons">help_outline</i>Comment faire pour vous aider ?
		</div>
		<div class="collapsible-body">
			<p>
				Déjà en utilisant l’application afin d’aider à partager la connaissance.
			</p>
			<p>
				En partageant nos actualités et en parlant de KnowledgeSharing.
			</p>
			<p>
				Vous pouvez également nous faire une donation depuis notre site internet en cliquant sur "faire un don" présent dans le menu, ceci afin de faire évoluer l’application et nos actions sur le terrain.
			</p>
		</div>
	</li>
	<li id="update">
		<div class="collapsible-header" data-collapsible="accordion">
			<i class="material-icons">system_update</i>Prévoyez-vous de nouvelles mise à jour ou nouvelles fonctionnalités ?
		</div>
		<div class="collapsible-body">
			<p>
				Si vous souhaitez contribuer, proposer une fonctionalité, ou critiquer l'application, n'hésitez pas à le faire <a href="https://github.com/b3j0f/knowledgesharing/issues" target="_blank">ici</a>
			</p>
		</div>
	</li>
</ul>

{% endblock %}
