{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="section title white">
	<div class="center">
		<h1 class="header">
			Partage du savoir
		</h1>
		<h5 class="subheader">
			Actuellement {{ topiccount }} sujets proposés, {{ schedulingcount }} traités, {{ spacecount }} endroits disponibles et {{ accountcount }} membres inscrits !
		</h5>
	</div>
</div>

<div class="divider"></div>

<div class="section center">
	<h4>
		Cette plateforme facilite la mise en oeuvre et le partage de connaissance en permettant à tout utilisateur de :
	</h4>
	<h5><ul class="left-align">
		<li>
			- proposer et/ou voter pour des sujets
		</li>
		<li>
			- créer, rejoindre ou voter pour un évènement afin d'animer ou de participer à un sujet (conférence, débat, café du savoir, cours, etc.)
		</li>
		<li>
			- mettre du contenu sur la plateforme afin d'en faciliter l'accès*
		</li>
		<li>
			- être notifié par un évènement près de chez soi sur un sujet ou thème donné
		</li>
	</ul></h5>
	<small class="left-align">
		* il deviendra possible de retrouver le moment précis où est prononcé un mot clef dans un discours vidéo, audio ou texte
	</small>
	<p>
		Cette dernière peut être accompagnée d'une "projection du savoir" qui consiste à poser les mêmes questions sur le sujet en début et fin de séance, et à noter les réponses, afin de montrer l'évolution de la pensée au cours d'une séance.
	</p>
</div>

<div class="divider"></div>

<div class="row">
	<div class="col s12 m4">
		<div class="card hoverable">
			<div class="card-image waves-effect waves-block waves-light">
				<a href="/events">
					<img class="responsive-img teal" src="{% static 'img/conf.svg' %}" />
					<div class="card-title">
						Évènements
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card hoverable">
			<div class="card-image waves-effect waves-block waves-light">
				<a href="/topics">
					<img class="responsive-img teal" src="{% static 'img/008-people.svg' %}" />
					<div class="card-title">
						Sujets
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="card hoverable">
			<div class="card-image waves-effect waves-block waves-light">
				<a href="/spaces">
					<img class="responsive-img teal" src="{% static 'img/001-map.svg' %}" />
					<div class="card-title">
						Endroits
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8" async defer>
	var options = [
	{
		selector: '#problems', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#then', offset: 100,
		callback: function(elt) {
			Materialize.fadeInImage($(elt));
		}
	},
	{
		selector: '#solution1', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#solution2', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	}
	];
	Materialize.scrollFire(options);
</script>

{% endblock %}
