{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="section scrollspy" id="search" name="Recherche">

	<h1>
		{% if page == 'gives' %}Don, troc ou vente{% elif page == 'shares' %}Emprunt ou location{% else %}Stockage{% endif %}
	</h1>

	<form action="/search" method="post" accept-charset="utf-8">
		<div class="card row">
			<div class="col s12 center" id="categories">
			</div>
			<div class="col l6 s12 input-field">
				<div class="row">
					<div class="col s12 input-field">
						<input type="text" name="keywords" id="keywords" placeholder="appareil photo nikon 87XZ" />
						<label for="keywords">Quoi ?</label>
					</div>
				</div>

				<div class="col s8 input-field">
					<input type="text" name="where" id="where" placeholder="17 rue d'arras, Lille" />
					<label for="where">Où ?</label>
				</div>
				<div class="col s2 input-field">
					<input type="number" name="perimeter" min="1" id="perimeter" value="5" />
					<label for="perimeter">Périmètre (km)</label>
				</div>
				<div class="col s1 input-field">
					<a onclick="getCurrentPosition();" class="btn-floating waves-effect waves-white">
						<i class="material-icons">my_location</i>
					</a>
				</div>

				<div class="col s6 input-field">
					<input type="date" class="datepicker" id="when" name="when" />
					<label for="when">Quand ?</label>
				</div>
				<div class="col s6">
					<a class="btn btn-block waves-effect waves-white" name="periods" id="periods">
						Périodes
					</a>
				</div>
			</div>
			<div class="col l6 s12">
				<div id="map" class="map"></div>
			</div>
			<div class="col s12 center">
				<ul class="collapsible" data-collapsible="accordion">
					<li id="name">
						<div class="collapsible-header center">
							<i class="material-icons left">settings</i>
							Affiner la recherche
						</div>
						<div class="collapsible-body">
							<div class="row">
								<div class="col s12 m6">
									<h5>Propriétés</h5>
								</div>
								<div class="col s12 m6">
									<h5>Conditions</h5>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>

<div class="section scrollspy" id="result" name="résultats">
	<h1>Résultats</h1>
	{% include 'pagination.html' with pages=pages %}
	<div id="results" class="row">
		{% for product in products %}
		<div class="l4 m6 s12">
			{% include 'product.html' with product=product %}
		</div>
		{% endfor %}
	</div>
	{% include 'pagination.html' with pages=pages page=page %}
</div>

<script type="text/javascript" charset="utf-8">
	{% include 'search.js' %}
</script>

{% endblock %}